@media only screen and (max-width: 500px) {
			    .nav-title {
			    	font-size: 13px;
			    }

			}
			body {
				  min-width: 100%;
				  min-height: 600px;
				  background: -webkit-gradient(linear, left top, left bottom, from(#6B67B1), to(#9866AF));
				  background: linear-gradient(#6B67B1, #9866AF);
				  background-repeat: no-repeat;
				  background-size: cover;
			}

        	  .navbar-shadow{
			    background-color: #fff;
			    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
			    -webkit-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
				-moz-box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
			    transition: box-shadow 0.3s ease;
			  }
			  .navbar-header img {
			  	max-width: 120px;
			  }
			  .available-receipts, .new-receipts {
			  	border: 2px solid #fff;
			    border-radius: 50px;
			    color: #fff;
			    background-color: transparent !important;
			    width: 100%;
			    margin: 10px 0px;
			  }
			  .available-receipts:hover, .new-receipts:hover {
			  	border: 2px solid #FF3D86;
			    border-radius: 50px;
			    color: #FFF;
			    background-color: #FF3D86 !important;
			    transition: all 0.3s ease;
			    -webkit-box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
				-moz-box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
				box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
			  }

			  .available-receipts:active, .new-receipts:active {
			  	border: 2px solid #FF3D86;
			    border-radius: 50px;
			    color: #FFF;
			    background-color: #FF3D86 !important;
			    transition: all 0.3s ease;
			    transform: translateY(1px);
			    -webkit-box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
				-moz-box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
				box-shadow: 0px 10px 22px -1px rgba(255,61,134,0.58);
			  }
			  .box {
			  	border-radius: 5px;
			  	background-color: #fff;
    			padding: 15px;
				-webkit-box-shadow: 0px 5px 23px 3px rgba(0,0,0,0.50);
				-moz-box-shadow: 0px 5px 23px 3px rgba(0,0,0,0.50);
				box-shadow: 0px 5px 23px 3px rgba(0,0,0,0.50);
			  }
			  .boximage{
			  	margin:0px 0px 5px 0px;
			  	text-align: center;
			  }
			  .boximage img {
			  	max-width: 150px;
			  	width: 100%;
			  }
			  .uploader {
			  	    width: 97%;
    margin: auto;
			  }
			  .boxuploader {
			  	    text-align: center;
				    margin: 20px auto;
				    width: 100%;
				    border: 5px dashed #FF3D86;
				    border-radius: 30px;
				    padding: 30px;
				    min-height: 150px;
				    max-height: 1000px;
				    transition: all 0.3s ease;
				    overflow: hidden;
			  }
			  .boxuploader:hover, .boxuploader:active {
			  		cursor: pointer;
			  	    text-align: center;
				    margin: 20px auto;
				    width: 100%;
				    border: 5px solid #FF3D86;
				    border-radius: 30px;
				    padding: 30px;
				    overflow: hidden;
				    transition: all 0.3s ease;
				    background-color: rgba(50,50,50, 0.05);
				    -webkit-box-shadow: 0px 0px 22px -1px rgba(255,61,134,0.58);
					-moz-box-shadow: 0px 0px 22px -1px rgba(255,61,134,0.58);
					box-shadow: 0px 0px 22px -1px rgba(255,61,134,0.58);
			  }
			  .hidden {
			  	display: none;
			  }
			  .uploadButton {
			  	background-color: #ffd60f;
			    border: 2px solid #ffd60f;
			    padding: 7px 20px;
			    margin: 10px auto;
			    cursor: pointer;
			    color: #000;
			    border-radius: 5px;
			  }
			  .uploadButton:active {
			  	background-color: #ffd60f;
			    border: 2px solid #ffd60f;
			    padding: 7px 20px;
			    margin: 10px auto;
			    cursor: pointer;
			    color: #000;
			    transition: all 0.3s ease;
			    transform: translateY(1px);
			    border-radius: 5px;
			  }
			  .uploadholder {
			  	
			  }

			  .uploadHolder > .image {
			  	margin: 10px;
			  	    border-radius: 5px;
    border: 2px solid #fff;
			  }